<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hubhu</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>
<body>
    <div class="login_container">
        <h2>Welcome back!</h2>
        <p>We are so excited to see you again!</p>
        <form method="post" >
            {% csrf_token %}
            {% if msg != True %}
                <label for="username">USERNAME<span class = "required">*</span></label>
                <input type="text" name = "username" placeholder="Enter Username">
                <label for="password">PASSWORD<span class = "required">*</span></label>
                <input type="password" name = "password">
            {% else %}
                <label for="username" class = "required">USERNAME <span>- login or password is invalid </span></label>
                <input type="text" name = "username" placeholder="Enter Username">
                <label for="password" class = "required">PASSWORD <span>- login or password is invalid </span></label>
                <input type="password" name = "password">
            {% endif %}
            <input type="Submit" value="Log In" class = "login_button">
        </form>
        <p>Need an account? <a href="#">Register</a></p>
    </div>

</body>
</html>